.apps-detail-page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #7eb0d6;
}
.apps-detail-page img{
    height: 100px;
}
.apps-detail-page p{
    color: #fff;
    font-size: 14px;
    text-shadow: 0 0 2px #000;
}