
.used-app{
    width: 100%;
    float: left;
}
.frequently-list {
    width: 100%;
    float: left;
    margin: 10px 0 5px;
    border-bottom: solid 1px #f7f8f9;
}
.frequently-list h3{
    margin-top: 0;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
    text-shadow: 0 0 2px #000;
}
.app-items{
     display: flex;
     flex-wrap: wrap;
    justify-content: flex-start;
 }
.app-items-list{
    text-align: center;
    font-size: 11px;
    min-height: 47px;
    text-decoration: none;
    color: #fff;
    text-shadow: 0 0 2px #000;
    width: 25%;
}
.app-items.five-mode .app-items-list { width: 20%;}
.app-items-list a img {
    height: 35px;
    border-radius: 50%;
    padding: 3px;
}